:root {
    padding: 15px;
    --borderRadius: 5px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.header {

}

.header .header_title {

}

.header .header_subtitle {

}

.grid {
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.grid .grid_topItem {
    background-color: blanchedalmond;
    border-radius: var(--borderRadius);
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.grid_topItem .topItem_title {
    margin: 0;
    align-self: flex-end;

}

.grid_topItem .topItem_subtitle {
    width: 70vh;
}

.grid .grid_item {
    
}

.grid_item .grid_item_photo {
    width: 100%;
    height: 40vh;
    background-color: rgb(255, 152, 152);
    border-radius: var(--borderRadius);
    margin-bottom: 10px;
}

.grid_item_photo:nth-child(4) {
    height: 80vh;
}

.grid_item .grid_item_title {
    text-align: center;
}

.grid_item .grid_item_subtitle {
    text-align: center;
}